<html>
  <body>
    <form name="createArticle" method="POST" action="/demo/article">
      Article title: <input type="text" name="article.title" /><br>
      Article tags:  <input type="text" name="article.tags" /><br>
      Author name:   <input type="text" name="article.author.name" /><br>
      Author email:  <input type="submit" value="send" /><br>
    </form>
    $_article.viewName
  </body>
</html>
