<html>
  <body>
    <h3>The Article Details:</h3>
    <table border="1">
        <tr>
            <td>Article Title</td>
            <td>$article.title</td>
        </tr>
        <tr>
            <td>Author Name</td>
            <td>$article.author.name</td>
        </tr>
        <tr>
            <td>Author Age</td>
            <td>$article.author.age</td>
        </tr>
        <tr>
            <td>Author Email</td>
            <td>$article.author.email</td>
        </tr>
    </table>
    <div>
        <a href="/demo/article">Back To Main Page</a>
    </div>
    <div>
        <a href="/demo/article/display">Show All Articles</a>
  </div>
  </body>
</html>