<html>
  <body>
    <p>This is a display page for all the articles.</p>
    <ul>
    #foreach($article in $articles)
        <li>$article.title</li>
    #end
    </ul>
    <div>
        <a href="/demo/article">Back To Main Page</a>
    </div>
  </body>
</html>