<html>
  <body>
    <p>This is a display page for all the articles.</p>
    <ul>
    #foreach($author in $authors)
        <li>Author : $author.name</li>
        <ul>
            #foreach($article in $author.articles)
                <li>$article.title</li>
            #end
        </ul>
    #end
    </ul>
    <div>
        <a href="/demo/article">Back To Main Page</a>
    </div>
  </body>
</html>